<footer>
  <div class="wrapper">
    <p class="edit-footer"><a class="editor-link btn" href="cloudcannon:collections/_data/footer.yml" class="btn" style="padding: 5px;"><strong>&#9998;</strong> Edit footer</a></p>
    <ul class="footer-links">
      {% for link in site.data.footer %}
        <li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
          {% if link.social_icon %}
            {% include social-icon.html icon=link.social_icon %}
          {% endif %}
          {{ link.name }}</a></li>
      {% endfor %}
    </ul>
    <p class="copyright">&copy; {{ site.title }} {{ site.time | date: "%Y" }}. All rights reserved. <a href="https://github.com/armory/knowledge-base/blob/master/LICENSE">License</a></p>
  </div>
</footer>

<!-- Start of Async Drift Code -->
<script>
  "use strict";
  !function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
  if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
  t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
  return function() {
  var n = Array.prototype.slice.call(arguments);
  return n.unshift(e), t.push(n), t;
  };
  }, t.methods.forEach(function(e) {
  t[e] = t.factory(e);
  }), t.load = function(t) {
  var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
  var i = document.getElementsByTagName("script")[0];
  i.parentNode.insertBefore(o, i);
  };
  }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('8ke2a6bpfz2v');
  </script>
  <!-- End of Async Drift Code -->
<script> (function(){ window.ldfdr = window.ldfdr || {}; (function(d, s, ss, fs){ fs = d.getElementsByTagName(s)[0]; function ce(src){ var cs = d.createElement(s); cs.src = src; setTimeout(function(){fs.parentNode.insertBefore(cs,fs)}, 1); } ce(ss); })(document, 'script', 'https://lftracker.leadfeeder.com/lftracker_v1_9mDnrdyvnJ6E1KXM.js'); })(); </script>

<!-- Livereload -->
<script src="http://0.0.0.0:5678/livereload.js"></script></head>
